.log{
  margin: auto;
  margin-top: 120px;
  width: 435px;
  height: 250px;
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid #ccc;
}
.password{
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.email{
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn5 {
  margin-top: 30px;
  display: flex;
  margin-left: 165px;
  font-size: 16px;
  text-decoration: none;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgb(99, 97, 97);
}